{% extends "birds/base.html" %}

{% block title %}Families in {{ families.first.order.name }}{% endblock %}

{% block content %}
    <h1>Families in order {{ families.first.order.name }}</h1>
    {% for family in families %}
        <h2>
            <a href="{{ family.get_absolute_url }}">
                {{ family.name }}
            </a>
        </h2>
        {{ family.genuses.count }}
        {% if family.genuses.count == 1 %}
            genus
        {% else %}
            genuses
        {% endif %}
    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}