{% extends "birds/base.html" %}

{% block title %}Families in {{ order.name }}{% endblock %}

{% block content %}
    <h1>Families in order {{ order.name }}</h1>
    {% if families %}
        {% for family in families %}
            <h2>
                <a href="{{ family.get_absolute_url }}">
                    {{ family.name }}
                </a>
            </h2>
            {{ family.genuses.count }}
            {% if family.genuses.count == 1 %}
                genus
            {% else %}
                genuses
            {% endif %}
        {% endfor %}
    {% else %}
        No families in order {{ order.name }}
    {% endif %}
    {% if families %}
        {% include "pagination.html" with page=families %}
    {% endif %}
    {% include "birds/includes/new_family_form.html" %}
{% endblock %}