{% extends "birds/base.html" %}

{% block title %}All the Orders{% endblock %}

{% block content %}
    <h1>Orders</h1>
    {% for order in orders %}
        <h2>
            <a href="{{ order.get_absolute_url }}">
                {{ order.name }}
            </a>
        </h2>
        {% if order.families.count > 0 %}
            {{ order.families.count }}
            {% if order.families.count == 1 %}
                family
            {% else %}
                families
            {% endif %}
        {% else %}
            No families for this order
        {% endif %}
    {% endfor %}
    {% include "pagination.html" with page=orders %}
    {% include "birds/includes/new_order_form.html" %}
{% endblock %}