{% extends "birds/base.html" %}

{% block title %}All the Events{% endblock %}

{% block content %}
    <h1>All the Events</h1>
    {% for event in events %}
        <h2>
            <a href="{{ event.get_absolute_url }}">{{ event.date }}</a>
        </h2>
        <p>
            <a href="{{ event.location.get_absolute_url }}">{{ event.location }}</a>
        </p>
        <p>
            {{ event.birds.count }} bird{{ event.birds.count|pluralize }} detected
        </p>
    {% endfor %}
    {% include "pagination.html" with page=page_obj %}
{% endblock %}