{% extends "birds/base.html" %}

{% block title %}Genuses in family {{ family.name }}{% endblock %}

{% block content %}
    <h1>Genuses in family {{ family.name }}</h1>
    {% if genuses %}
        {% for genus in genuses %}
            <h2>
                <a href="{{ genus.get_absolute_url }}">
                    <i>{{ genus.name }}</i>
                </a>
            </h2>
            {{ genus.species.all.count }} species
        {% endfor %}
        {% include "pagination.html" with page=genuses %}
    {% else %}
            No genuses in family {{ family }}
    {% endif %}
    {% include "birds/includes/new_genus_form.html" %}
{% endblock %}