{% extends "birds/base.html" %}

{% block title %}{{ sp.common_name }}{% endblock %}

{% block content %}
    <h1>{{ sp.common_name }}</h1>
    <p>
        <i>
            <a href="{{ sp.genus.get_absolute_url }}">
                {{ sp.genus.name}}
            </a>
            {{sp.species}}
        </i>
        {% if sp.link %}
            (<a href="{{ sp.link }}" target="_blank">Cornell Lab All About Birds</a>)
        {% endif %}
    </p>
    <p>Order:
        <a href="{{ sp.genus.family.order.get_absolute_url }}">
            {{ sp.genus.family.order }}
        </a>
    </p>
    <p>Family:
        <a href="{{ sp.genus.family.get_absolute_url}}">
            {{ sp.genus.family }}
        </a>
    </p>
    <h3>{{ sp.events.all.count }} Detection{% if sp.events.all.count != 1 %}s{% endif %}</h3>
    <ul>
        {% for event in sp.events.all %}
            <li>
                <a href="{{ event.get_absolute_url }}">
                    {{ event.date }}:
                </a>
                <a href="{{ event.location.get_absolute_url }}">
                    {{ event.location }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}